body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Mansalva', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    gap: 20px;
    height: 100px;
    margin: 25px;
}

h1 {
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 15px;
}

p {
    height: 5px;
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#town {
    background-color: aquamarine;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 15px;
}
#tavern {
    background-color: brown;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 15px;
}
#dungeon {
    background-color: lightslategrey;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 15px;
}
#nature {
    background-color: lightgreen;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 15px;
}

.mixer {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 15px;
}